
html, body {
  min-height: 100%;
}

body {
  display: flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  font-family: sans-serif;
}

#pickScreen {
  height: 100%;
  width:100%;
  background:white;
  display: none;
  position:absolute;
  top:0;
  justify-content:center;
  align-items:center;
  flex-direction: column;
}

button {
  padding: 1rem;
  font-size:1rem;
}

button:first-of-type {
  background-color: tomato;
  border-color: tomato;
}

button:last-of-type {
  background-color: skyblue;
  border-color: skyblue;
  margin-left:1rem;
 }

@keyframes bounce {
  0% {transform: translate(0,5px);}
  25% {transform: translate(0,-5px);}
  75% {transform: translate(0,3px);}
  100% {transform: translate(0,-2px);}
}

table {
  border-collapse: collapse;
  margin: 2rem;
  font-size:4rem;
}

td {
  height: 5rem;
  width: 5rem;
  text-align:center;
}

td:first-of-type {
    border-right: 1px solid black;
}

td:last-of-type {
  border-left: 1px solid black;
}

tr:first-of-type, tr:nth-child(2) {
  border-bottom: 1px solid black;
}

#info {
  padding: 1rem;
  background-color: seashell;
  border: 3px solid powderblue;
  border-radius: 5px;
  display:none;
  position: absolute;
}
